body {
    width: 920px;
}

/* 固定ヘッダー */
.wrap {
    padding: 1.5rem;
    clear: both;
}

.gloval_fixed_menu {
    display: flex;
    height: 3rem;
    width: 100%;
    position: fixed;
    background-color: #3584bb;
    z-index: 10;

}
.gloval_fixed_menu a{
        line-height: 1;
    font-size: 1.5rem;
    padding: 10px 10px;
    margin-left: 40px;
}

.gloval_fixed_menu a:hover{
    text-decoration: none;
}

.gloval_fixed_menu a:visited{
    color: white;
}

.gloval_fixed_menu_inner{
    display: flex;
    margin-left:
}

.menu-btn {
    position: fixed;
    left: 860px;
    display: flex;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
    z-index: 2;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

/*検索*/
.form-box{
	display: flex;
    margin: 5px 0px;
    float: left;
}

.form-input{
	border: none;
	width: 100%;
}

.form-button{
	background-color: white;
	border: none;
}

/* topページ */
.top_image_container{
    position: relative;
    margin: 0 40px;
    z-index: 1;
}

.top_image{
    width:100%;
}
.top_title{
    font-size: 3rem;
    color: white;
}
.top_image_inner{
    position: absolute;
    top: 35%;
    left: 50%;

}
.top_link{
    display: block;
    width: 80%;
    border: 2px solid #76C9EB;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.top_link a:visited{
    color: white;
}
.top_index{
    padding: 8px;
    font-size: 1.5rem;
    margin: 0px 40px;
}

/* プロフィールページ */
/* 画像変更部 */
.modal-footer{
    display: block;
}
..modal-body{
    margin: 0px auto;
}
.filelabel {
   color: white;              /* 文字色 */
   display: inline-block;     /* インラインブロック化 */
}
.filelabel img {
   vertical-align: bottom;    /* 画像の垂直方向の配置 */
}
.iconImage:hover {
   opacity: 0.5;              /* 半透明 */
   cursor: pointer;           /* マウス形状(ポインタ) */
}
#image {
   display: none;  /* 本来のファイル選択フォームは非表示に */
}
.profile_container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px;
    text-align:
}
.iconImage{
    width: 200px;
}
.profile_edit_image{
    width: 50px;
    position: absolute;
    left: 150px;
    top: 150px;
}
.profile_description_block{
    width: 620px;
    padding: 40px;
}
.profile_comment_block{
    margin-left: 240px;
}
.profile_name{
    width: 560px;
    font-size: 2rem;
}
.profile_container label, input {
  display: block;
}
.profile_comment{
    resize: none;
    width: 560px;
    height: 200;
    font-size: 1.5rem;
}
.profile_index{
    padding: 8px;
    font-size: 2rem;
    margin: 30px 40px 00px 40px;
}
.profile_edit_complete {
    display       : inline-block;
    border-radius : 5%;
    font-size     : 18pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 12px 13px;
    margin: 10px 217px;
    background    : #1a68b2;
    color         : #ffffff;
    line-height   : 1em;
    transition    : .3s;
    border        : 2px solid #1a68b2;
}
.profile_edit_complete:hover {
    color         : #1a68b2;
    background    : #ffffff;
}
.profile_posts_edit_button {
    margin: 2px 2px;
    font-size     : 12pt;
    text-align    : center;
    cursor        : pointer;
    background    : #1a68b2;
    color         : #ffffff;
}
/* プロフィールの新着投稿 */
.new_posts_container{
    margin: 0px 40px;
}
.new_post p{
    color: black;
}
.new_post_image {
    width: 20px;
}

/* ポスト詳細ページ */
.main{
    margin:0px 40px;
}
.post_detail_index{
    font-size: 2rem;
    padding: 8px;
    margin-top: 20px;
}
.post_user_block{
    display: flex;
    margin: 20px 0px;
    height: 60px;
}
.post_user_block img{
    width: 40px;
    height: 40px;
    margin: 15px 0;
}
.post_detail_user_name{
    font-size: 1.5rem;
    margin: 15px 0;
    vertical-align: center;
}
.follow_button{
    height: 25px;
    margin: 17px 10px;
    background: #76C9EB;
    color: white;
    text-align    : center;
    border-radius : 10%;
}
.follow_button:hover{
    opacity: 0.5;
}
.favorite_button{
    width: 30px;
    margin: 10px 10px;
}
.tags{
    font-size: 1.5rem;
}
.post_detail_image{
    width: 700px;
}
.post_detail_comment{
    font-size: 1.2rem;
    width: 700px
}
.profile_posts_edit_button {
    display       : inline-block;
    margin: 2px 2px;
    font-size     : 12pt;
    text-align    : center;
    cursor        : pointer;
    background    : #1a68b2;
    color         : #ffffff;
}
.replies {
    width: 700px;
}
.replies_index{
    font-size: 1rem;
}
.reply{
    margin: 10px 0px;
}
.reply_container{
    display: flex;
}
.reply_user_image{
    width: 40px;
}
.reply_user_name{
    font-size: 1rem;
    margin: 8px 0px 8px 0px;
}
.reply_created_at{
    font-size: 1rem;
    margin: 8px 15px;
}
.reply_comment{
    margin-left: 40px;
}
.post_comment{
        margin: 20px 0px;
    width: 500px;
}
.post_comment_index{
    font-size: 1.2rem;
}
.post_comment_area{
    resize: none;
    width: 560px;
    height: 200px;
    font-size: 1.5rem;
}
/* 投稿ページ */
.post_create{
    margin: 20px 40px;
}
.post_title{
    font-size: 1.5rem;
}
.post_title_input_caution{
    color: red;
}
.post_title_block{
    font-size: 1.5rem;
    display: flex;
}
.post_title_line{
    padding: 5px;
}
.post_title_input_field{
    width: 480px;
}
.post_tag_container{
    margin: 20px 0px;
}
.post_tag_input_field{
    font-size: 1.5rem;
    width: 500px
}
.post_tag_index{
    font-size: 1.5rem;
    width: 500px;
}
.post_input_image{
    margin: 20px 0px;
    width: 700px;
}
.post_input_image:hover{
    opacity: 0.8;
    cursor: pointer;
}
.post_create_comment_index{
    width: 500px;
    font-size: 1.5rem;
}
.post_input_comment {
    resize: none;
    width: 560px;
    height: 200px;
    font-size: 1rem;
}
.profile_create_complete {
    display       : inline-block;
    border-radius : 5%;
    font-size     : 18pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 12px 13px;
    margin: 30px 0px;
    background    : #1a68b2;
    color         : #ffffff;
    line-height   : 1em;
    transition    : .3s;
    border        : 2px solid #1a68b2;
}
.profile_create_complete:hover {
    color         : #1a68b2;
    background    : #ffffff;
}
/* 会員情報表示 */
.user_block {
    margin: 10px 10px;
    padding: 10px 0px;
    width:800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
}
.user_name{
    width: 710px;
    font-size: 1.2rem;
}
.user_image{
    width: 80px;
}
.user_discription p{
    margin: 0px 0px 0px 10px;
}

/*タブ切り替え全体のスタイル*/
.follow_follower_index {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 40px;
}

/*タブのスタイル*/
.tab_item {
  width: 50%;
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.follow_follower_index input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

/* ゴーストボタン */
.top_link:hover{
    background-color: #76C9EB;
    color: white;
    text-decoration: none;
}

/* 見出し */
.line_Darkblue{
    border-left: solid 10px #1A68B2;/*左線（実線 太さ 色）*/
}

/* 投稿関係 */
.posts{
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
}
.post{
    margin: 10px 10px 0px 0px ;
    width: 200px;
    text-align: center;
    border: 1px solid;
}
.post:hover {
  opacity: 0.6;
}
.post_img{
    margin: 5px 0;
    width: 150px;
}
.post p{
    color: black;
    text-align: left;
}
.post_icon_Image{
    border: 20px;
    width: 40px;
    height: 40px;
}
.post_user{
    display: flex;
}
.post_edit_block{
    display: flex;
    width: 100px;
    margin: 0px auto;;
}

/* Share SNS */
.shareSns {
    list-style: none;
    overflow: hidden;
    margin:0;
    padding: 0px;
}
.shareSns li {
    text-align: center;
    float: left;
    margin:0;
    padding: 0px;
}
.shareSns li a {
    line-height: 50px;
    font-size:20px;
}
.shareSns li a img {
    height: 40px;
}
.shareSns li a:hover{
    opacity: 0.8;
}

/* 投稿画面 */
/* 吹き出し本体 */
.bubble1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 0 0;
  padding: 10px 10px;
  min-width: 200px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #b2d4f4;
  border-color: red;
}
/* 三角アイコン */
.bubble1:before {
  content: "";
  position: absolute;
  bottom: 100%;
  border: 15px solid transparent;
  border-bottom: 15px solid #b2d4f4;
}
.bubble1 p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}
